
<%= form_tag sessions_path do %>
<div class="row form-inline">
	<div class="span4 offset4">
		<img src="/assets/logo.png"/>
	<h1>Log In</h1>
	<p>Or <%= link_to "sign up", '/sign_up' %></p>
	  <div class="control-group">
	    <%= label_tag :email %><br />
	    <%= text_field_tag :email, params[:email] %>
	  </div>
	<div class="control-group">
	    <%= label_tag :password %><br />
	    <%= password_field_tag :password %>
    </div>
<%= submit_tag "Log in", :class=>"btn btn-primary btn-large" %>
<% end %>