<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @vehicle.id %>
</p>

<p>
  <b>Make:</b>
  <%= @vehicle.make %>
</p>

<p>
  <b>Model:</b>
  <%= @vehicle.model %>
</p>

<p>
  <b>Trim:</b>
  <%= @vehicle.trim %>
</p>

<p>
  <b>Year:</b>
  <%= @vehicle.year %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
