<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row-fluid form-inline">
	<div class="span4">
		<div class="hero-unit">
		<h2>Product Data</h2>
	  <div class="control-group">
	    <%= f.label :name, :class=>"control-label" %>
	    <div class="controls">
	    	<%= f.text_field :name, :class=>"input-medium" %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :price, :class=>"control-label" %>
	    <div class="controls">
	    	<%= f.text_field :price, :class=>"input-medium" %>
	    </div>
	  </div>	
	  </div>
	</div>
  	<div class="span4">
  	<div class="hero-unit"> 
  		<h2>Vehicles</h2>
  		<p>Check all that apply.</p>
  		<div class="all-up">
			<%= render 'checkboxes', :f => f %>
		</div>
		</div>
  	</div>
  	<div class="span4">
	  <div class="hero-unit">
	  <h2>Publish</h2>
	    <%= f.submit 'Save Product', :class=>"btn btn-primary btn-large"%><br /><br />
	    <%= link_to 'Cancel', products_path, :class=>"btn btn-large" %>
	  </div>
    </div>
</div>  
<% end %>

