<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row-fluid form-inline">
	<div class="span4">
		<div class="hero-unit">
		<h2>Product Data</h2>
	  <div class="control-group">
	    <%= f.label :name, :class=>"control-label" %>
	    <div class="controls">
	    	<%= f.text_field :name, :class=>"input-medium" %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :price, :class=>"control-label" %>
	    <div class="controls">
	    	<%= f.text_field :price, :class=>"input-medium" %>
	    </div>
	  </div>
	  
	  <div class="control-group">
	  	<%= f.label :description, :class=>"control-label" %>
	  	<div class="controls">
		  	<div id="wysihtml5-toolbar" style="display: none;">
			  <a data-wysihtml5-command="bold">bold</a>
			  <a data-wysihtml5-command="italic">italic</a>
			  
			  <!-- Some wysihtml5 commands require extra parameters -->
			  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>
			  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>
			  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>
			  
			  <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
			  <a data-wysihtml5-command="createLink">insert link</a>
			  <div data-wysihtml5-dialog="createLink" style="display: none;">
			    <label>
			      Link:
			      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
			    </label>
			    <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
			  </div>
			</div>
	  		<%= f.text_area :description, :id=>"wysihtml5-textarea", :placeholder=>"Enter your text ..." %>
	  	</div>
	  </div>
	  	
	  </div>
	</div>
  	<div class="span4">
  	<div class="hero-unit"> 
  		<h2>Vehicles</h2>
  		<p>Check all that apply.</p>
  		<div class="all-up">
			<%= render 'checkboxes', :f => f %>
		</div>
		</div>
  	</div>
  	<div class="span4">
	  <div class="hero-unit">
	  <h2>Publish</h2>
	    <%= f.submit 'Save Product', :class=>"btn btn-primary btn-large"%><br /><br />
	    <%= link_to 'Cancel', products_path, :class=>"btn btn-large" %>
	  </div>
    </div>
</div>  

<script>
var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
  toolbar:      "wysihtml5-toolbar", // id of toolbar element
  parserRules:  wysihtml5ParserRules // defined in parser rules set 
});
</script>
<% end %>

